/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: calc(9px + 1vw);
}

body p {
  line-height: 1.5;
  color: black;
}

#image-cont {
  background-image: url(https://picsum.photos/id/188/1600/300);
  margin: 10px;
  border-radius: 5px;
}

.header {
  text-align: center;
  color: #ff5203;
  text-shadow: 5px 5px 5px black;
  background: linear-gradient(240deg, #485461 0%, #28313b 74%);
  width: 45%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.header h1 {
  font-size: calc(16px + 3vw);
  font-weight: bold;
}

.header p {
  font-size: calc(8px + 1vw);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: #ff5203;
  text-shadow: 5px 5px 5px black;
}

.navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 10%;
  text-decoration: none;
}

.navs #top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.navs #top-nav a {
  margin: 2%;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: bold;
  background: #ff5203;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
}

.navs #log-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.navs #log-nav a {
  margin: 5%;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: bold;
  background: #ff5203;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  .navs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
  }
  #top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: center;
  }
  #top-nav a {
    margin: 1%;
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
    background: #ff5203;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
  }
  #log-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: center;
  }
  #log-nav a {
    margin: 1%;
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
    background: #ff5203;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
  }
}

.contact {
  margin: 10%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact span {
  font-weight: bolder;
}

.contact address {
  margin: 10px;
  font-weight: bolder;
}

.footer {
  margin: 10px;
  background-image: url(https://picsum.photos/id/188/1600/250);
  padding: 50px;
}

.footer #bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.footer #bottom-nav a {
  margin: 2%;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: bold;
  background: #ff5203;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
}
/*# sourceMappingURL=contact.css.map */