$background1:linear-gradient(350deg, #f5d020 0%, #ff5203 74%);
$background2:linear-gradient(240deg, #485461 0%, #28313b 74%);
$textColor1:white;
$textColor2:black;
$breakpointTablet:768px;
$breakpointCell:560px;

@import "./reset";


body{
    font-size:62.5%;
    box-sizing: border-box;
    font-size: calc(9px + 1vw);
   p{
        line-height: 1.5;
        color:$textColor2;
    }
}
#image-cont{
    background-image:url(https://picsum.photos/id/188/1600/300);
    margin:10px;
    border-radius: 5px;
}
.header{
    text-align: center;
    color:#ff5203;
    text-shadow: 5px 5px 5px black;
    background:$background2;
    width:45%;
    padding: 10px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 5px;

    
    h1{
        font-size:calc(16px + 3vw);
        font-weight:bold;
    }
    p{
        font-size:calc(8px + 1vw);
        width:60%;
        margin-left: auto;
        margin-right: auto;
        color:#ff5203;
        text-shadow: 5px 5px 5px black;
    }
}
.navs{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top:2%;
    margin-left: 5%;
    margin-right: 10%;
    text-decoration: none;
    #top-nav{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        justify-items: center;
        a{
            margin:2%;
            padding:10px;
            text-decoration: none;
            font-size:16px;
            color:black;
            font-weight: bold;
            background:#ff5203;
            border-radius: 5px;
            text-align: center;
            white-space: nowrap;
        }
    }
    #log-nav{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        justify-items: center;
       
        a{
            margin:5%;
            padding:10px;
            text-decoration: none;
            font-size:16px;
            color:black;
            font-weight: bold;
            background:#ff5203;
            border-radius: 5px;
            text-align: center;
            white-space: nowrap;
        }
    }
}
@media only screen and (max-width: 600px) {
    .navs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top:2%;
       margin-left: auto;
       margin-right: auto;
        text-decoration: none;
    }
    #top-nav{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        justify-items: center;
        a{
            margin:1%;
            padding:5px;
            text-decoration: none;
            font-size:12px;
            color:black;
            font-weight: bold;
            background:#ff5203;
            border-radius: 5px;
            text-align: center;
            white-space: nowrap;
        }
    }
    #log-nav{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        justify-items: center;
       
        a{
            margin:1%;
            padding:5px;
            text-decoration: none;
            font-size:12px;
            color:black;
            font-weight: bold;
            background:#ff5203;
            border-radius: 5px;
            text-align: center;
            white-space: nowrap;
        }
    }
}
.contact{
    margin:10%;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    span{
        font-weight:bolder;
    }
    address{
        margin:10px;
        font-weight: bolder;
    }
}
.footer{
    margin:10px;
    background-image:url(https://picsum.photos/id/188/1600/250);
    padding:50px;
    #bottom-nav{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: center;
        justify-items: center;
        a{
            margin:2%;
            padding:10px;
            text-decoration: none;
            font-size:16px;
            color:black;
            font-weight: bold;
            background:#ff5203;
            border-radius: 5px;
            text-align: center;
            white-space: nowrap;
        }
    }
}