@import 'normalize';
@import 'reset';

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

$orange: #e8833a;
$darkgrey: #3e3e3e;

html {
	font-family: 'Roboto', sans-serif;
	color: $darkgrey;
}

h1 {font-size: 3.1rem;}
h2 {font-size: 2.3rem;}
h3 {font-size: 2rem;}

p {font-size: 2rem; line-height: 2.5rem;}

button {
	font: inherit;
	border: none;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 1rem 2rem;
	border-radius: .3rem;
	color: white;
	background-color: $orange;
	margin: 1rem 0;
}

#desktop-results-button {
	display: none;
	@include for-tablet-portrait-up {
		display: inline-block;
		margin-right: 1rem;
	}
}

#mobile-results-button {
	display: none;
	@include for-phone-only {
		display: block;
	}
}

.login-button {
	background-color: white;
	color: $orange;
	border: solid $orange .1rem;
	padding: .9rem 2rem;
	
}

header {
	color: white;
	padding: 0 2.3rem 2.3rem 2.3rem;
	background-image: url(/assets/maximillian-conacher-sPpe2D7VbpM-unsplash.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,.9));
	background-size: cover;
	background-position: center;
	background-blend-mode: overlay;
	
	nav {
		@include flex(flex-end, center);
		padding: 1rem 0;
	}
	
}

figure {
	@include flex(space-between, center);
	width: 70%;
	margin: 1rem auto;
	
	div {
		@include flex(center, center);
		font-size: 2rem;
		font-weight: 600;
		width: 8rem;
		height: 8rem;
		border: solid $orange .2rem;
		border-radius: 5rem;
	}
}

#main-blurb {
	width: 90%;
	margin: auto;
	text-align: center;
	padding: .1rem 1rem;
	color: $darkgrey;
	background-color: lightgrey;
}

#how-it-works {
	@include flex(center, center);
	flex-direction: column;
	width: 90%;
	margin: 2rem auto;
	text-align: center;
	padding: 0 5rem;
	border: dashed lightgrey .4rem;
	
	h3 {
		margin: 3rem 0;
	}
}

#fake-post {
	border: solid lightgrey .2rem;
	padding: 1rem 0 .5rem 1rem;
	width: 258px;
	
	p {
		font-size: 1.5rem;
		line-height: 1.5rem;
		text-align: left;
		margin: 0rem;
	}
	
	#container {
		display: flex;
		flex: row nowrap;
		
		#fake-text-cont {
			width: 90%;
			.fake-text1 {
			height: 1rem;
			width: 70%;
			background-color: lightgrey;
			margin-top: 1rem;
			}

			.fake-text2 {
			height: 1rem;
			width: 50%;
			background-color: lightgrey;
			margin-top: .3rem;
			}

			.fake-text3 {
			height: 1rem;
			width: 60%;
			background-color: lightgrey;
			margin-top: .3rem;
			margin-bottom: 2rem;
			}
		}

		#voter {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-content: flex-end;
			text-align: right;
			p {
				color: $orange;
				font-weight: 600;
				margin: .1rem 0;
			}
		}

		.arrow {
			width: 1.7rem;
		}
	}

}

#vote-box {
	@extend #fake-post;
	width: 258px;
	height: 115px;
	padding: 1rem;
	@include flex(space-around, center);
	
	div {
		
		img {
			height: 7rem;
		}
		
	}
}

footer {
	@include flex(center, center);
	flex-direction: column;
	nav {
		button {
			margin: 0 1rem;
		}
	}
	
	h2 {
		margin: 0;
	}
	
	p {
		font-size: 1rem;
		color: lightgrey;
		a {
			color: lightgrey;
		}
	}
}














