@import 'normalize';
@import 'reset';

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

$orange: #e8833a;
$darkgrey: #3e3e3e;

html {
	font-family: 'Roboto', sans-serif;
	color: $darkgrey;
}

h1 {font-size: 3.1rem;}
h2 {font-size: 2.3rem;}
h3 {font-size: 2rem;}

p {font-size: 2rem; line-height: 2.5rem;}

button {
	font: inherit;
	border: none;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 1rem 2rem;
	border-radius: .3rem;
	color: white;
	background-color: $orange;
	margin: 1rem 0;
	
	@include for-tablet-landscape-up {
			font-size: 1.8rem;
		}
}

.login-button {
	background-color: white;
	color: $orange;
	border: solid $orange .1rem;
	padding: .9rem 2rem;
	
}

#desktop-results-button {
	display: none;
	@include for-tablet-portrait-up {
		display: inline-block;
		margin-right: 1rem;
	}
}

#mobile-results-button {
	display: none;
	@include for-phone-only {
		display: block;
	}
}

header {
	color: white;
	padding: 0 2.3rem 2.3rem 2.3rem;
	background-image: url(/assets/maximillian-conacher-sPpe2D7VbpM-unsplash.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,.9));
	background-size: cover;
	background-position: center;
	background-blend-mode: overlay;
	
	nav {
		@include flex(flex-end, center);
		padding: 1rem 0;
	}
	
	#scroll-indicator {
		display: none
	}
	
	@include for-tablet-portrait-up {
		padding: 0 10vw 10vw 10vw;
		h1 {
			font-size: 5vw;
		}
		h2 {
			font-size: 3.5vw;
		}
	}
	
	@include for-tablet-landscape-up {
		h1 {
			font-size: 5.5rem;
		}
		h2 {
			font-size: 3rem;
		}
	}
	
	@include for-desktop-up {
		height: 100vh;
		padding: 0 20vw 0 20vw;
		
		h1 {
			margin-top: 25vh;
		}
		
		#scroll-indicator {
			@include flex(center, flex-end);
			height: 37vh;
		}
		img {
			height: 12rem;
		}
	}
}

figure {
	@include flex(space-between, center);
	width: 70%;
	margin: 2rem auto;
	
	div {
		@include flex(center, center);
		font-size: 2rem;
		font-weight: 600;
		width: 8rem;
		height: 8rem;
		border: solid $orange .2rem;
		border-radius: 5rem;
	}
	
	@include for-tablet-portrait-up {
		width: 60%;
		
		div {
			font-size: 2.5rem;
			width: 10rem;
			height: 10rem;
		}
	}
	
	@include for-tablet-landscape-up {
		width: 45%;
		margin: 3rem auto;
	}
}

#main-blurb {
	width: 90%;
	margin: auto;
	text-align: center;
	padding: .1rem 1rem;
	color: $darkgrey;
	background-color: lightgrey;
	
	@include for-tablet-portrait-up {
		width: 70%;
	}
}

#how-it-works {
	@include flex(center, center);
	flex-direction: column;
	width: 90%;
	margin: 2rem auto;
	text-align: center;
	padding: 0 5rem;
	border: dashed lightgrey .4rem;
	
	h3 {
		margin: 3rem 0;
	}
	
	@include for-tablet-portrait-up {
		width: 70%;
	}
	
	@include for-tablet-landscape-up {
		margin: 4rem auto;
		
		h3 {
			font-size: 2.5rem;
		}
	}
}

#fake-post {
	border: solid lightgrey .2rem;
	padding: 1rem 0 .5rem 1rem;
	width: 25.8rem;
	
	p {
		font-size: 1.5rem;
		line-height: 1.5rem;
		text-align: left;
		margin: 0rem;
	}
	
	#container {
		display: flex;
		flex: row nowrap;
		
		#fake-text-cont {
			width: 90%;
			
			.fake-text {
			height: 1rem;
			background-color: lightgrey;
			margin-top: .3rem;
			
			}
			
			#ft1 {
				width: 70%;
				margin-top: 1rem;
			}
			#ft2 {
				width: 50%;
				
			}
			#ft3 {
				width: 60%;
				margin-bottom: 2rem;
			}
		}

		#voter {
			@include flex(flex-end, flex-end);
			flex-direction: column;

			p {
				color: $orange;
				font-weight: 600;
				margin: .1rem 0;
			}
		}

		.arrow {
			width: 1.7rem;
		}
	}

}

#vote-box {
	@extend #fake-post;
	height: 11.5rem;
	padding: 1rem;
	@include flex(space-around, center);
	
	div {
		img {
			height: 7rem;
		}
		
	}
}

footer {
	@include flex(center, center);
	flex-direction: column;
	
	nav {
		button {
			margin: 1rem 1rem;
		}
		
		div {
			@include flex(center, center);
		}
	}
	
	h2 {
		margin: 1rem 0 0 0;
	}
	
	p {
		font-size: 1rem;
		color: lightgrey;
		a {
			color: lightgrey;
		}
	}
}














