@import 'normalize'; //adds 'normalize'
@import 'reset'; //adds select resets

// Set media query breakpoints for quick access
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// Quick access to flex properties
@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

// Key colors for use below
$orange: #e8833a;
$darkgrey: #3e3e3e;

html {
	font-family: 'Roboto', sans-serif;
	color: $darkgrey; // Set default font color to value stored above
	scroll-behavior: smooth; //smooth scroll when clicking the scroll indicator
}

h1 {font-size: 3.1rem;}
h2 {font-size: 2.3rem;}
h3 {font-size: 2rem;}

p {font-size: 2rem; line-height: 2.5rem;}

button {
	font: inherit;
	border: none;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 1rem 2rem;
	border-radius: .3rem;
	color: white;
	background-color: $orange;
	margin: .5rem 0;
	cursor: pointer;
	
	@include for-tablet-landscape-up {
			font-size: 1.8rem; // Make button text bigger for larger screens
		}
}

.login-button {
	background-color: white;
	color: $orange;
	border: solid $orange .1rem;
	padding: .9rem 2rem;
	
}

header {
	color: white;
	padding: 0 2.3rem 2.3rem 2.3rem;
	background-image: url(/assets/maximillian-conacher-sPpe2D7VbpM-unsplash.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,.9));
	background-size: cover;
	background-position: center;
	background-blend-mode: overlay;
	
	nav {
		@include flex(center, flex-end);
		flex-direction: column;
		padding: 1rem 0;
	}
	
	#scroll-indicator {
		display: none; //scroll indicator is hidden by defualt and displayed on >= 1200px width (see for-desktop-up section below)
	}
	
	@include for-tablet-portrait-up {
		//changes for >= 600px widths
		padding: 0 10vw 10vw 10vw;
		h1 {
			font-size: 5vw;
		}
		h2 {
			font-size: 3.5vw;
		}
	}
	
	@include for-tablet-landscape-up {
		//changes for >= 900px widths
		h1 {
			font-size: 5.5rem;
		}
		h2 {
			font-size: 3rem;
		}
	}
	
	@include for-desktop-up {
		//changes for >= 1200px widths
		display: flex; // turns header into a flex container to help display scroll indicator properly.
		flex-direction: column;
		justify-content: space-between;
		height: 100vh; // sets header full screen
		overflow: hidden;
		padding: 0 20vw 0 20vw;
		
		#scroll-indicator {
			@include flex(center, flex-end); //displays scroll indicator and positions it bottom-center
		}
		
		img {
			height: 12rem;
			cursor: pointer; //cursor set to pointer to indicate clickable
		}
	}
}

main {
	@include flex(center, center); //sets flex container for fake posts
	flex-flow: row wrap; //turns on wrap for fake posts
	margin: 2rem;
	padding: 5rem 0;
	
	@include for-desktop-up {
		//changes for >= 1200px width
		max-width: 143.9rem; //limits width so posts show 3 in a row at most
		margin: auto;
	}
}

//styles a fake post with with title, placeholder body, and vote counter
.fake-post {
	border: solid lightgrey .2rem;
	padding: 1rem 0 .5rem 1rem;
	width: 25.8rem;
	margin: 2rem;
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.1),-4px -4px 8px 0px #fff;
	
	p {
		font-size: 1.5rem;
		line-height: 1.5rem;
		text-align: left;
		margin: 0rem;
	}
	
	#container {
		display: flex;
		flex: row nowrap;
		
		#fake-text-cont {
			width: 90%;
			
			.fake-text {
			height: 1rem;
			background-color: lightgrey;
			margin-top: .3rem;
			
			}
			
			#ft1 {
				width: 70%;
				margin-top: 1rem;
			}
			#ft2 {
				width: 50%;
				
			}
			#ft3 {
				width: 60%;
				margin-bottom: 2rem;
			}
		}

		#voter {
			@include flex(flex-end, flex-end);
			flex-direction: column;

			p {
				color: $orange;
				font-weight: 600;
				margin: .1rem 0;
			}
		}

		.arrow {
			width: 1.7rem;
		}
	}
	
	@include for-desktop-up {
		width: 32rem;
		
		p {
			font-size: 2rem;
			line-height: 2rem;
		}
	}

}

article {
	text-align: center;
}

footer {
	@include flex(center, center);
	flex-direction: column;
	
	nav {
		@include flex(center, center);
		flex-direction: column
	}
	
	h2 {
		margin: 1rem 0 0 0;
	}
	
	p {
		font-size: 1rem;
		color: lightgrey;
		a {
			color: lightgrey;
		}
	}
	
	@include for-tablet-portrait-up {
		nav {
			flex-direction: row;
			
			button {
				margin-left: 1rem;
				margin-right: 1rem;
			}
		}
	}
}














